<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Welcome to Blogging</title>
    {% endif %}
</head>
<body>
    <b>Kenya's Blog</b> 
    <div>
        Microblog:
        <a href= '{{ url_for("index") }}'>Home</a>
        {% if current_user.is_anonymous %}
        <a href='{{ url_for("login") }}'>Login</a>
        {% else %}
        <a href ='{{ url_for("user",username=current_user.username) }}'>Profile</a>
        <a href='{{url_for("logout")}}'>Logout</a>
        {% endif %}
    </div>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
    <ul>
        {%  for i in messages %}
        <li>{{ i }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <hr>
    {% block content %}{% endblock %}
    <hr>
    {% block extra_test %}{% endblock %}
</body>
</html>

